[submodule "dependencies/epsilon"]
	path = dependencies/epsilon
	url = https://github.com/Jojendersie/Epsilon-Intersection.git
[submodule "dependencies/glhelper"]
	path = dependencies/glhelper
	url = https://github.com/Wumpf/glhelper.git
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "dependencies/bim"]
	path = dependencies/bim
	url = git@github.com:Jojendersie/Bim.git
