[submodule "dependencies/epsilon"]
	path = dependencies/epsilon
	url = https://github.com/Jojendersie/Epsilon-Intersection.git
[submodule "dependencies/glhelper"]
	path = dependencies/glhelper
	url = https://github.com/Jojendersie/glhelper.git
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "dependencies/bim"]
	path = dependencies/bim
	url = https://github.com/Jojendersie/Bim.git
[submodule "dependencies/chinoise"]
	path = dependencies/chinoise
	url = https://github.com/Jojendersie/Chi-Noise.git
