# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio stuff
*.opensdf
*.sdf
*.user
*.suo
*.db

# Latex
*.aux
*.log
*.pdf
*.gz

# Images
*.png
*.jpg
*.bmp

# Build directories
/x64
/gpugi/x64
/bvhmake/x64
log.txt

# Our stuff
*.max
*.rawscene
*.pfm
*.mtl
*.patch
*.bim
/scenes/cryteksponza/textures
/scenes/sanmiguel/Maps
/documentation/docs
/envmaps